In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"

In [100]:
### Create a browser instance
browser=webdriver.Firefox()

In [5]:
browser.get(url)

In [6]:
### Get the table tag and create a list of rows
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')
table=soup.find_all("table",class_="chart full-width")

In [8]:
type(table)

bs4.element.ResultSet

In [9]:
type(table[0])

bs4.element.Tag

In [10]:
rows=table[0].find_all("tr")

In [11]:
type(rows)

bs4.element.ResultSet

In [12]:
len(rows)

251

In [16]:
rel_rows=rows[1:]

In [20]:
rel_rows[0].find_all("td")[1].a.text

'Planet Earth II'

In [22]:
rel_rows[0].find_all("td")[1].span.text

'(2016)'

In [34]:
rel_rows[0].find_all("td")[2].strong.get("title")

'9.5 based on 80,154 user ratings'

In [28]:
title=[]
year=[]
rating=[]
for r in rel_rows:
    tds=r.find_all("td")
    title.append(tds[1].a.text)
    year.append(tds[1].span.text)
    rating.append(tds[2].strong.text)

In [29]:
table=pd.DataFrame({'title':title,'year':year,'rating':rating})

In [35]:
table.head(2)

             title    year rating
0  Planet Earth II  (2016)    9.5
1     Planet Earth  (2006)    9.4

In [101]:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_August_2019"

In [102]:
browser.get(url)

In [103]:
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [104]:
table=soup.find_all("table",class_="wikitable sortable jquery-tablesorter")

In [105]:
len(table)

1

In [106]:
rows=table[0].find_all("tr")

In [87]:
rel_rows=rows[1:]

In [88]:
date=[]
typ=[]
dead=[]
inj=[]
location=[]
details=[]
perp=[]
partof=[]
for r in rel_rows:
    tds=r.find_all("td")
    date.append(tds[0].text.strip())
    typ.append(tds[1].text.strip())
    dead.append(tds[2].text.strip())
    inj.append(tds[3].text.strip())
    location.append(tds[4].text.strip())
    details.append(tds[5].text.strip())
    perp.append(tds[6].text.strip())
    partof.append(tds[7].text.strip())

In [89]:
len(partof)

6

In [90]:
table=pd.DataFrame({'date':date,'type':typ,'dead':dead,'injured':inj,\
                    'location':location,'details':details,\
                   'perpetrator':perp,'partof':partof})

In [91]:
table.head(1)

,date,type,dead,injured,location,details,perpetrator,partof
0,3,Mass shooting,22,24,"El Paso, Texas, United States",2019 El Paso shooting: A mass shooting took pl...,Patrick Crusius,Terrorism in the United States

In [140]:
def get_data(url):
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    table=soup.find_all("table",class_="wikitable")
    rows=table[0].find_all("tr")
    rel_rows=rows[1:]
    date=[]
    typ=[]
    dead=[]
    inj=[]
    location=[]
    details=[]
    perp=[]
    partof=[]
    for r in rel_rows:
        tds=r.find_all("td")
        date.append(tds[0].text.strip())
        typ.append(tds[1].text.strip())
        dead.append(tds[2].text.strip())
        inj.append(tds[3].text.strip())
        location.append(tds[4].text.strip())
        details.append(tds[5].text.strip())
        perp.append(tds[6].text.strip())
        try:
            partof.append(tds[7].text.strip())
        except:
            partof.append("Not found")
    table=pd.DataFrame({'date':date,'type':typ,'dead':dead,'injured':inj,\
                    'location':location,'details':details,\
                   'perpetrator':perp,'partof':partof})
    table['url']=url
    return table

In [112]:
get_data("https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_August_2019")

,date,type,dead,injured,location,details,perpetrator,partof
0,3,Mass shooting,22,24,"El Paso, Texas, United States",2019 El Paso shooting: A mass shooting took pl...,Patrick Crusius,Terrorism in the United States
1,4,Bombing,20 (+1),49,"Cairo, Egypt",2019 Cairo bombing: An explosion following a c...,Hasm Movement (suspected),Sinai insurgency
2,7,Suicide bombing,15 (+1),140+,"Kabul, Afghanistan",7 August 2019 Kabul bombing: At least 14 peopl...,Taliban,War in Afghanistan
3,10,Shooting,1,1 (+1),"Bærum, Norway",Bærum mosque shooting: A gunman opened fire on...,Philip Manshaus,Right-wing terrorism in Europe
4,17,Suicide bombing,92 (+1),142,"Kabul, Afghanistan",17 August 2019 Kabul bombing: A bomb exploded ...,Islamic State,War in Afghanistan
5,19,Bombing,0,0,"Newtownbutler, United Kingdom",Newtownbutler bombing: A bomb exploded near th...,New IRA (suspected),Dissident Irish Republican campaign

In [113]:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents"
browser.get(url)

In [114]:
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [115]:
links=soup.find_all("div",class_="div-col columns column-width")

In [116]:
len(links)

2

In [118]:
all_links=links[0].find_all("li")

In [121]:
links=[]
for i in all_links:
    links.append(i.a.get('href'))

In [126]:
links[links=="/wiki/List_of_terrorist_incidents_in_January_2015"]

49    /wiki/List_of_terrorist_incidents_in_January_2015
dtype: object

In [141]:
from tqdm import tqdm
tables=[]
for l in tqdm(links.iloc[49:].tolist()):
    base_url="https://en.wikipedia.org{}"
    url=base_url.format(l)
    tables.append(get_data(url))

  0%|          | 0/58 [00:00<?, ?it/s]
  2%|▏         | 1/58 [00:00<00:47,  1.19it/s]
  3%|▎         | 2/58 [00:01<00:41,  1.34it/s]
  5%|▌         | 3/58 [00:01<00:38,  1.42it/s]
  7%|▋         | 4/58 [00:02<00:37,  1.44it/s]
  9%|▊         | 5/58 [00:03<00:37,  1.43it/s]
 10%|█         | 6/58 [00:03<00:34,  1.52it/s]
 12%|█▏        | 7/58 [00:04<00:32,  1.56it/s]
 14%|█▍        | 8/58 [00:05<00:31,  1.57it/s]
 16%|█▌        | 9/58 [00:05<00:29,  1.69it/s]
 17%|█▋        | 10/58 [00:06<00:28,  1.66it/s]
 19%|█▉        | 11/58 [00:06<00:28,  1.65it/s]
 21%|██        | 12/58 [00:07<00:33,  1.39it/s]
 22%|██▏       | 13/58 [00:08<00:33,  1.33it/s]
 24%|██▍       | 14/58 [00:09<00:32,  1.37it/s]
 26%|██▌       | 15/58 [00:10<00:31,  1.36it/s]
 28%|██▊       | 16/58 [00:11<00:33,  1.24it/s]
 29%|██▉       | 17/58 [00:12<00:37,  1.09it/s]
 31%|███       | 18/58 [00:13<00:37,  1.07it/s]
 33%|███▎      | 19/58 [00:14<00:37,  1.03it/s]
 34%|███▍      | 20/58 [00:15<00:36,  1.05it/s]
 36%|███▌      | 21/58 [00:16<00:36,  1.00it/s]
 38%|███▊      | 22/58 [00:17<00:35,  1.01it/s]
 40%|███▉      | 23/58 [00:18<00:34,  1.03it/s]
 41%|████▏     | 24/58 [00:19<00:31,  1.07it/s]
 43%|████▎     | 25/58 [00:19<00:26,  1.25it/s]
 45%|████▍     | 26/58 [00:20<00:24,  1.28it/s]
 47%|████▋     | 27/58 [00:20<00:21,  1.42it/s]
 48%|████▊     | 28/58 [00:21<00:19,  1.51it/s]
 50%|█████     | 29/58 [00:21<00:18,  1.56it/s]
 52%|█████▏    | 30/58 [00:22<00:17,  1.64it/s]
 53%|█████▎    | 31/58 [00:23<00:15,  1.74it/s]
 55%|█████▌    | 32/58 [00:23<00:14,  1.78it/s]
 57%|█████▋    | 33/58 [00:23<00:13,  1.89it/s]
 59%|█████▊    | 34/58 [00:24<00:15,  1.58it/s]
 60%|██████    | 35/58 [00:25<00:13,  1.73it/s]
 62%|██████▏   | 36/58 [00:25<00:11,  1.85it/s]
 64%|██████▍   | 37/58 [00:26<00:13,  1.50it/s]
 66%|██████▌   | 38/58 [00:27<00:15,  1.25it/s]
 67%|██████▋   | 39/58 [00:29<00:22,  1.16s/it]
 69%|██████▉   | 40/58 [00:30<00:19,  1.11s/it]
 71%|███████   | 41/58 [00:31<00:18,  1.12s/it]
 72%|███████▏  | 42/58 [00:33<00:19,  1.21s/it]
 74%|███████▍  | 43/58 [00:34<00:19,  1.32s/it]
 76%|███████▌  | 44/58 [00:36<00:17,  1.24s/it]
 78%|███████▊  | 45/58 [00:37<00:16,  1.27s/it]
 79%|███████▉  | 46/58 [00:39<00:18,  1.55s/it]
 81%|████████  | 47/58 [00:42<00:20,  1.83s/it]
 83%|████████▎ | 48/58 [00:43<00:18,  1.81s/it]
 84%|████████▍ | 49/58 [00:44<00:12,  1.44s/it]
 86%|████████▌ | 50/58 [00:44<00:09,  1.17s/it]
 88%|████████▊ | 51/58 [00:45<00:06,  1.03it/s]
 90%|████████▉ | 52/58 [00:45<00:05,  1.19it/s]
 91%|█████████▏| 53/58 [00:46<00:03,  1.33it/s]
 93%|█████████▎| 54/58 [00:47<00:02,  1.43it/s]
 95%|█████████▍| 55/58 [00:47<00:02,  1.50it/s]
 97%|█████████▋| 56/58 [00:48<00:01,  1.56it/s]
 98%|█████████▊| 57/58 [00:48<00:00,  1.63it/s]
100%|██████████| 58/58 [00:49<00:00,  1.71it/s]

In [142]:
big_table=pd.concat(tables,axis=0)

In [143]:
big_table.head()

,date,type,dead,injured,location,details,perpetrator,partof,url
0,1,Shooting,15–25+,10+,"Waza Region, Cameroon",A group of militants attacked a crowded bus tr...,Boko Haram (suspected),Boko Haram insurgency,https://en.wikipedia.org/wiki/List_of_terroris...
1,3,Attack,1,3,"Maguindanao and Sultan Kudarat, Philippines",An undetermined number of Bangsamoro Islamic F...,BIFF,Moro conflict,https://en.wikipedia.org/wiki/List_of_terroris...
2,3,Shooting,3,2,"Basra Governorate, Iraq",Shooting in Basra Governorate left 5 people de...,Unknown,Iraqi Civil War,https://en.wikipedia.org/wiki/List_of_terroris...
3,3,Melee attack,1,0,"El Fahs, Tunisia",A Tunisian policeman was ambushed by a group o...,Islamist militants,Insurgency in the Maghreb,https://en.wikipedia.org/wiki/List_of_terroris...
4,3–7,Massacre,UnknownEst. 2000+,Unknown,"Baga, Borno State, Nigeria",2015 Baga massacre: Boko Haram militants opene...,Boko Haram,Boko Haram insurgency,https://en.wikipedia.org/wiki/List_of_terroris...

In [134]:
### By country how many incidents
### By country and month how many incidents
### Average number of people who died + got injured

In [137]:
big_table['location'].map(lambda x: x.split(",")[-1]).value_counts().head(2)

 Iraq           787
 Afghanistan    575
Name: location, dtype: int64

In [150]:
big_table['year']=big_table['url'].map(lambda x:x.split("_")[-1])

In [153]:
big_table['month']=big_table['url'].map(lambda x:x.split("_")[-2])

In [157]:
big_table['dead'].head()

0               15–25+
1                    1
2                    3
3                    1
4    UnknownEst. 2000+
Name: dead, dtype: object

In [158]:
### create a regex that identifies a number which can be 1,2,3 or 4 digit
import re
pattern=re.compile(r'\d{1,4}')

In [171]:
import numpy as np
def get_numbers(x):
    r=re.findall(pattern,x)
    if len(r)==0:
        return np.nan
    elif len(r)==2:
        return float(r[0][0])
    else:
        return float(r[0])

In [174]:
big_table['injured'].map(get_numbers).mean().round(2)

12.19

In [176]:
big_table['dead'].map(get_numbers).mean().round(2)

6.46

In [177]:
### Oyo rooms
url="https://www.oyorooms.com/hotels-in-coimbatore/?page=1"
browser.get(url)

In [178]:
html=browser.page_source

In [179]:
soup=BeautifulSoup(html,'html.parser')

In [184]:
soup.find_all("div",class_="listingHotelDescription__contentWrapper--left")[0].a.h3.text

'OYO Townhouse 124 Srm Kuppakonam Pudur'

In [186]:
name=[]
for i in soup.find_all("div",class_="listingHotelDescription__contentWrapper--left"):
    name.append(i.a.h3.text)

In [189]:
soup.find_all("span",attrs={'itemprop':'streetAddress'})[0].text

'Near Tatabad, Coimbatore'

In [190]:
soup.find_all("span",attrs={'itemprop':'streetAddress'})[0]['title']

'Near Tatabad, Coimbatore'

In [191]:
soup.find_all("span",attrs={'itemprop':'streetAddress'})[0].get('title')

'Near Tatabad, Coimbatore'

In [193]:
addr=[]
for i in soup.find_all("span",attrs={'itemprop':'streetAddress'}):
    addr.append(i.get('title'))

In [196]:
soup.find_all("meta",attrs={'itemprop':'ratingValue'})[0].get('content')

'4.4'

In [204]:
rating=[]
for i in soup.find_all("meta",attrs={'itemprop':'ratingValue'}):
    rating.append(i.get('content'))

In [207]:
price=[]
for i in soup.find_all("span",class_="listingPrice__finalPrice"):
    price.append(i.text)

In [209]:
table=pd.DataFrame({'name':name,'addr':addr,'rating':rating,'price':price})

In [210]:
table.head(2)

,name,addr,rating,price
0,OYO Townhouse 124 Srm Kuppakonam Pudur,"Near Tatabad, Coimbatore",4.4,₹1394
1,SilverKey Executive Stays 18452 Pritam Airport...,"Near Airport, Next To Back Gate Of PSG CAS, Pe...",4.3,₹1537

In [211]:
def get_data(url):
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    name=[]
    for i in soup.find_all("div",class_="listingHotelDescription__contentWrapper--left"):
        name.append(i.a.h3.text)
    addr=[]
    for i in soup.find_all("span",attrs={'itemprop':'streetAddress'}):
        addr.append(i.get('title'))
    rating=[]
    for i in soup.find_all("meta",attrs={'itemprop':'ratingValue'}):
        rating.append(i.get('content'))
    price=[]
    for i in soup.find_all("span",class_="listingPrice__finalPrice"):
        price.append(i.text)
    table=pd.DataFrame({'name':name,'addr':addr,'rating':rating,'price':price})
    return table

In [214]:
get_data("https://www.oyorooms.com/hotels-in-coimbatore/?page=1")

,name,addr,rating,price
0,OYO Townhouse 124 Srm Kuppakonam Pudur,"Near Tatabad, Coimbatore",4.4,₹1394
1,SilverKey Executive Stays 18452 Pritam Airport...,"Near Airport, Next To Back Gate Of PSG CAS, Pe...",4.3,₹1537
2,SilverKey Executive Stays 17281 Athithi Inn De...,"Near Aathi Maaruthi, Vetri Vinayagar Nagar, Co...",4.3,₹775
3,OYO 28079 Global Stay,"Near Singanallur Lake, Nanjappa Nagar, Coimbatore",3.9,₹1212
4,Capital O 48497 Raksha Grand,", Coimbatore",4.8,₹996
5,SilverKey Executive Stays 24155 FCI Nagar,"Near Saravanampatti Check Post, Coimbatore",4.2,₹863
6,OYO 11669 Abrigo City Centre Gandhipuram,"Near Gandhipuram Bus Stand, Coimbatore",3.9,₹1212
7,Capital O 14031 Vinayak In Deluxe,"Near Railway Station, Geetha Hall Road, Coimba...",4.5,₹1780
8,OYO 37209 Fortune Apartment,"Near Deccan pumps, Sakthy Main Road, Coimbatore",3.8,₹774
9,OYO 28428 Ruthira Residency,"Near Tidel Park, Peelamedu, Coimbatore",4.6,₹1010
10,OYO Flagship 26714 Sri Balaji Castle,"Near Vconnect Media, Coimbatore",4.1,₹673
11,OYO 12746 Hotel Sapthagiri Nest,"Coimbatore, Coimbatore",4.3,₹781
12,Capital O 14406 Hotel Subashree,"Ram Nagar, Coimbatore",4.3,₹1212
13,OYO 13858 Rithus Residency,"Near JP Hospital, Coimbatore",3.6,₹976
14,OYO 30971 GM Grande,"Near Karpagam University, Madukkarai market, C...",4.5,₹901
15,OYO Flagship 22529 Elegance Inn,"Near Varadharaja Puram Main Road, Coimbatore",4.5,₹538
16,OYO 37217 Hotel Cresant Park,"Near Airport, Coimbatore",4.2,₹1266
17,OYO 46276 Apple Inn,"Lajapathrai Street, Ram Nagar, Coimbatore",4.3,₹1010
18,Collection O 31042 Sunil Residency Balaji Nagar,"Near Balaji Nagar, Coimbatore",4.1,₹623
19,Capital O 46064 Midland Residency Suite,"Perur Main Rd, Telungupalayam Privu, Coimbatore",4.9,₹1951